[submodule "VideosWithQuestions"]
	path = VideosWithQuestions
	url = https://github.com/DanThrane/VideosWithQuestions.git
[submodule "grails-twbs-taglibs"]
	path = grails-twbs-taglibs
	url = git@bitbucket.org:Dan_Thrane/grails-twbs-taglibs.git
