<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="tekvideo-math-field">
<template>
    <span id="test"></span>
</template>

<script>
Polymer({
    is: 'include-ext-css',
    properties: {
        href: {
            type: String,
            value: "",
            observer: "_valueChanged"
        }
    },
    _valueChanged: function(href) {
        console.log(href);
        console.log(this.$.test);

        if (!window.extCss) window.extCss = {};

        if (!window.extCss[href]) {
            if (document.head.createShadowRoot) {
                console.log(1);
            } else {
                console.log(2);
                window.extCss[href] = true;
            }
        }
    }
});
</script>
</dom-module>