<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<dom-module id="tekvideo-dash-simple-summary">

<template>
<style include="iron-flex"></style>
<style>
:host {
    display: block;
}

h3 {
    margin: 0;
}

.no-decoration {
    text-decoration: none;
    color: black;
}
</style>

<h3>
    <a href$="{{link}}">
    {{heading}}
    </a>
</h3>
<div class="layout horizontal">
    <p class="flex">{{content}}</p>
    <a class="no-decoration" href$="{{link}}">
        <paper-button style="float: right">
            <iron-icon icon="forward"></iron-icon>
            Udforsk
        </paper-button>
    </a>
</div>

</template>

<script>
Polymer({
    is: 'tekvideo-dash-simple-summary',
    properties: {
        heading: {
            type: String
        },
        content: {
            type: String
        },
        link: {
            type: String
        }
    }
});
</script>
</dom-module>