<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="tekvideo-dash-hero">

<template>
<style include="iron-flex"></style>
<style is="custom-style">
:host {
    display: block;
    width: 100%;
    height: 100%;
}

iron-image {
    width: 266px;
    height: 150px;
}

.main-stat {
    font-size: 60pt;
    margin: 0;
}

.main-stat-unit {
    font-size: 20pt;
}

ul {
    list-style: none;
}
</style>


<div hidden$="{{!shouldRender}}">
<!--  -->
    <iron-ajax
        auto
        url="[[baseUrl]]dashboard/hero?identifier=[[node]]&periodFrom=[[periodFrom]]&periodTo=[[periodTo]]"
        handle-as="json"
        last-response="{{hero}}"
        debounce-duration="300"></iron-ajax>

    <h1>{{hero.result.title}}</h1>

    <div class="layout horizontal">
        <iron-image src="{{hero.result.image}}" sizing="cover" fade></iron-image>
        <div class="flex" hidden$="{{_hasStats(hero)}}"></div>
        <template is="dom-repeat" items="{{_splitStats(hero.result.stats)}}">
            <div class="flex">
                <ul>
                    <template is="dom-repeat" items="{{item}}">
                        <li>
                            <iron-icon icon="{{item.icon}}"></iron-icon>
                            {{item.content}}
                        </li>
                    </template>
                    </ul>
            </div>
        </template>
        <div>
            <span class="main-stat-unit">{{hero.result.mainStatUnit}}</span>
            <h2 class="main-stat">{{hero.result.mainStatAmount}}</h2>
        </div>
    </div>
</div>

</template>

<script>
Polymer({
    is: 'tekvideo-dash-hero',
    properties: {
        node: {
            type: String
        },
        periodFrom: {
            type: Number
        },
        periodTo: {
            type: Number
        },
        baseUrl: {
            type: String
        },
        shouldRender: {
            type: Boolean,
            computed: "_computeShouldRender(node)"
        }
    },

    attached: function() {
        var self = this;
    },

    _hasStats: function(hero) {
        console.log(hero.result.stats.length);
        return hero.result.stats.length > 0;
    },

    _computeShouldRender: function(node) {
        return true;
    },

    _splitStats: function(stats) {
        return this._chunkArray(stats, 4);
    },

    _chunkArray: function(array, chunkSize) {
        var result = [];
        for (var i = 0; i < array.length; i += chunkSize) {
            result.push(array.slice(i, i + chunkSize));
        }
        return result;
    }
});
</script>
</dom-module>