<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="tekvideo-exercise-card.html">

<dom-module id="tv-browser">

<template>
<style include="iron-flex"></style>
<style is="custom-style">
:host {
    display: block;
}

#results > * {
    margin: 16px;
}

#results > tekvideo-exercise-card {
    width: 30%;
    max-width: 260px;
}

#results.list > tekvideo-exercise-card {
    width: 100%;
    max-width: none;
}

.control-panel > paper-icon-button {
    opacity: 0.4;
}

.control-panel > paper-icon-button.active {
    opacity: 1;
}

#pager {
    margin: 16px;
}
</style>

<iron-ajax
    auto
    url="[[itemsEndpoint]]"
    handle-as="json"
    last-response="{{items}}"
    debounce-duration="300"></iron-ajax>

<paper-input value="{{searchQuery}}" class="flex">
    <iron-icon icon="search" prefix></iron-icon>
    <paper-icon-button suffix on-click="_clearQuery" icon="clear" alt="clear" title="clear">
</paper-input>
<div class="layout horizontal control-panel">
    <paper-icon-button icon="view-module" class="active" id="gridView" on-click="setGridView"></paper-icon-button>
    <paper-icon-button icon="view-list" id="listView" on-click="setListView"></paper-icon-button>
    <div class="flex"></div>
    <span>Viser [[activeItems.length]] resultater</span>
</paper-icon-button>
</div>

<div class="layout horizontal wrap" id="results">
    <template is="dom-if" if="[[!_currentPage.length]]">
        Ingen resultater
    </template>
    <template is="dom-repeat" items="[[_currentPage]]">
        <tekvideo-exercise-card title="[[item.title]]"
                                description="[[item.description]]"
                                thumbnail="[[item.thumbnail]]"
                                breadcrumbs="[[item.breadcrumbs]]"
                                featured-children="[[item.featuredChildren]]"
                                url="[[item.url]]"
                                max-description-length="[[_maxDescriptionLength]]"
                                wide-format="[[_wideFormat]]">
        </tekvideo-exercise-card>
    </template>
</div>

<div class="layout horizontal center-justified" id="pager">
    <paper-icon-button icon="chevron-left" 
                       on-click="_prevPage"
                       disabled="{{!_hasPrevPage(page)}}">
    </paper-icon-button>
    <template is="dom-repeat" items="[[_range(page, numberOfPages)]]">
        <paper-button disabled="{{_computeDisabledProperty(page, item)}}" 
                      on-click="_setPage"
                      data-index$="{{item}}">{{item}}</paper-button>
    </template>
    <paper-icon-button icon="chevron-right" 
                       on-click="_nextPage"
                       disabled="{{!_hasNextPage(page, numberOfPages)}}">
    </paper-icon-button>
</div>

</template>

<script>
Polymer({
    is: 'tv-browser',
    properties: {
        itemsEndpoint: {
            type: String
        },
        items: {
            type: Array
        },
        itemsPerPage: {
            type: Number,
            value: 12
        },
        page: {
            type: Number,
            value: 0
        },
        searchQuery: {
            type: String,
            value: ""
        },
        activeItems: {
            type: Array,
            computed: "_computeActiveItems(items, searchQuery)"
        },
        numberOfPages: {
            type: Number,
            computed: "_computeNumberOfPages(_pages)"
        },
        _pages: {
            type: Array,
            computed: "_computePages(activeItems)"
        },
        _currentPage: {
            type: Array,
            computed: "_computeCurrentPage(_pages, page)"
        },
        _maxDescriptionLength: {
            type: Number,
            value: 200
        },
        _wideFormat: {
            type: Boolean,
            value: false
        }
    },
    setGridView: function() {
        this.$.listView.classList.remove("active");
        this.$.gridView.classList.add("active");
        this.$.results.classList.remove("list");
        this._maxDescriptionLength = 200;
        this._wideFormat = false;
    },
    setListView: function() {
        this.$.listView.classList.add("active");
        this.$.gridView.classList.remove("active");
        this.$.results.classList.add("list");
        this._maxDescriptionLength = 500;
        this._wideFormat = true;
    },
    _setPage: function(e) {
        this.page = parseInt(e.target.getAttribute("data-index") - 1);
    },
    _nextPage: function() {
        if (this.page < this.numberOfPages - 1) {
            this.page++;
        }
    },
    _prevPage: function() {
        if (this.page > 0) {
            this.page--;
        }
    },
    _clearQuery: function() {
        this.searchQuery = "";
    },
    _hasPrevPage: function(page) {
        return page > 0;
    },
    _hasNextPage: function(page, numberOfPages) {
        return page < numberOfPages - 1;
    },
    _computeDisabledProperty: function(page, index) {
        return page === index - 1;
    },
    _range: function(count, numberOfPages) {
        var result = [];
        var MAX_PAGES = 6;

        var i = count - 3;
        while (result.length < MAX_PAGES && i < numberOfPages) {
            if (i >= 0 && i < numberOfPages) {
                result.push(i + 1);
            }
            i++;
        }
        return result;
    },
    _computeActiveItems: function(items, searchQuery) {
        return this._search(items, searchQuery);
    },
    _computeNumberOfPages: function(_pages) {
        return _pages.length;
    },
    _computePages: function(activeItems) {
        return this._chunkItems(activeItems);
    },
    _computeCurrentPage: function(_pages, page) {
        if (page < _pages.length && page >= 0) {
            return _pages[page];
        } else {
            return [];
        }
    },
    _search: function(items, searchQuery) {
        var normalizedQuery = searchQuery.trim().toLowerCase();
        if (normalizedQuery === "") {
            return items;
        }

        return items.filter(function(item) {
            if (item.title.toLowerCase().indexOf(normalizedQuery) !== -1) {
                return true;
            } else if (item.description.toLowerCase().indexOf(normalizedQuery) !== -1) {
                return true;
            } else {
                return false;
            }
        });
    },
    _chunkItems: function(items) {
        return this._chunkArray(items, this.itemsPerPage);
    },
    _chunkArray: function(array, chunkSize) {
        var result = [];
        for (var i = 0; i < array.length; i += chunkSize) {
            result.push(array.slice(i, i + chunkSize));
        }
        return result;
    }
});
</script>
</dom-module>
