<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="tve-renderer.html">

<dom-module id="tve-explanation">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: block;
}
</style>

<paper-button id="button" on-click="showExplanation" noink>Vis hint</paper-button>

<iron-collapse id="collapse" no-animation>
    <h3>Hint</h3>
    <tve-renderer content="{{content}}"></tve-renderer>
</iron-collapse>

</template>

<script>
Polymer({
    is: 'tve-explanation',
    properties: {
        content: {
            type: String,
            value: ""
        }
    },
    showExplanation: function() {
        this.$.collapse.show();
        this.$.button.hidden = true;

        this.fire("action", { type: "hint-showed" })
    }
});
</script>
</dom-module>