<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<script src="../../bower_components/math-tex/mathjax-loader.js"></script>

<dom-module id="math-tex">

<template>

<style>
:host {
    display: inline;
}
</style>

<span id="root"></span>

</template>

<script>
(function() {
    "use strict";

    var TAG_NAME = 'math-tex',
        HANDLER_TAG_NAME = 'mathjax-loader',
        mutation_config = {childList: true, characterData: true, attributes: true},
        handler;

    function check_handler() {
        if (handler || (handler = document.querySelector(HANDLER_TAG_NAME))) return;
        handler = document.createElement(HANDLER_TAG_NAME);
        if (!handler || typeof handler.typeset !== 'function') {
            console.warn(['no', HANDLER_TAG_NAME, 'element defined;', TAG_NAME, 'element will not work'].join(' '));
            handler = undefined;
        } else {
            document.head.appendChild(handler);
        }
    }

    Polymer({
        is: 'math-tex',
        properties: {
            content: {
                type: String,
                value: "2 + 2",
                notify: true
            },
            display: {
                type: String,
                value: "inline"
            }
        },
        observers: ["update(content, display)"],
        _created: function() {
            check_handler();
            if (!handler) return;
            var script = document.createElement('script');
            this.$.root.appendChild(script);
            this._private = {jax: script};
            this.update();
        },
        attached: function() {
            this._created();
        },
        update: function () {
            if (this._private) {
                var script = this._private.jax;
                script.type = this.display === 'block' ? 'math/tex; mode=display' : 'math/tex';
                script.innerHTML = this.content;
                handler.typeset(script);
            }
        }
    });
})();

</script>
</dom-module>