<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="tv-exercise-editor-wrapper.html">

<link rel="import" href="tv-exercise-markdown.html">
<link rel="import" href="tv-exercise-markdown-editor.html">
<link rel="import" href="tv-exercise-equation.html">
<link rel="import" href="tv-exercise-equation-editor.html">
<link rel="import" href="tv-exercise-multiple-choice.html">
<link rel="import" href="tv-exercise-multiple-choice-editor.html">
<link rel="import" href="tve-explanation.html">
<link rel="import" href="tve-input-expression.html">
<link rel="import" href="tve-input-expression-editor.html">
<link rel="import" href="tve-matrix.html">
<link rel="import" href="tve-matrix-editor.html">

<dom-module id="tv-exercise-editor">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: block;
    width: 100%;
    height: 100%;
}

.sidebar {
    margin: 15px;
    width: 300px;
}

tv-exercise-editor-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

paper-card {
    margin: 16px;
    padding: 16px;
}
</style>

<div class="layout horizontal">
    <div class="layout vertical sidebar">
        <paper-input value="{{name}}" label="Opgave navn"></paper-input>
        <paper-toggle-button checked="{{jsonMode}}">JSON Mode</paper-toggle-button>
        <div id="editors">
        </div>
    </div>
    <div class="flex">
        <iron-pages selected="{{_computeView(jsonMode)}}">
            <div id="preview" class="layout vertical">
            </div>
            <div id="json">
                <paper-textarea 
                    id="jsonField"
                    label="Eksporter JSON" 
                    value="{{_computeJSON(widgets.*)}}">
                </paper-textarea>

                <paper-textarea
                    id="inputJsonField"
                    label="Importer JSON">
                </paper-textarea>
                <paper-button on-click="_sync">Importer</paper-button>
            </div>
        </iron-pages>
    </div>

    <div id="addWidgetSection" class="layout vertical sidebar">
        <paper-dropdown-menu label="Widget" always-float-label>
            <paper-listbox class="dropdown-content" id="widgetDropdown">
            </paper-listbox>
        </paper-dropdown-menu>
        <paper-button id="addWidget" on-click="_addWidget">
            <iron-icon icon="add"></iron-icon>
            Tilføj widget
        </paper-button>
    </div>
</div>


</template>

<script>
Polymer({
    is: 'tv-exercise-editor',
    properties: {
        name: {
            type: String,
            value: ""
        },
        widgets: {
            type: Array,
            value: [],
            notify: true
        },
        _configuration: {
            type: Object,
            value: {}
        }
    },
    attached: function() {
        this._registerWidgetType(
            "Tekst", 
            "tv-exercise-markdown", 
            "tv-exercise-markdown-editor",
            ["content"]
        );
        
        this._registerWidgetType(
            "Ligning", 
            "tv-exercise-equation", 
            "tv-exercise-equation-editor",
            ["content"]
        );

        this._registerWidgetType(
            "Forklaring", 
            "tve-explanation", 
            "tv-exercise-markdown-editor",
            ["content"]
        );

        this._registerWidgetType(
            "Spørgsmål (Matematisk udtryk)", 
            "tve-input-expression", 
            "tve-input-expression-editor",
            ["question", "expression"]
        );

        this._registerWidgetType(
            "Multiple choice",
            "tv-exercise-multiple-choice",
            "tv-exercise-multiple-choice-editor",
            ["selectmultiple", "choices", "randomizeorder"]
        );

        this._registerWidgetType(
            "Matrix",
            "tve-matrix",
            "tve-matrix-editor",
            ["width", "height"]
        );

        this.addWidget({"type":"Matrix","properties":{"width": 5, "height": 5}});

        this.$.widgetDropdown.selected = 0;
    },
    addWidget: function(widget) {
        var self = this;
        this.push("widgets", widget);

        var widgetConfig = this._configuration[widget.type];
        if (widgetConfig) {
            var editor = document.createElement(widgetConfig.editor);
            editor.id = "editor-" + this.widgets.length;

            var wrapper = document.createElement("tv-exercise-editor-wrapper");
            wrapper.appendChild(editor);
            wrapper.name = widget.type + "-" + this.widgets.length;
            this.$.editors.appendChild(wrapper);

            var componentWrapper = document.createElement("paper-card");
            var component = document.createElement(widgetConfig.component);
            component.id = "component-" + this.widgets.length;
            componentWrapper.appendChild(component);
            this.$.preview.appendChild(componentWrapper);

            for (var i = 0; i < widgetConfig.properties.length; i++) {
                self._setupPropertyListener(i, editor, widget, wrapper, 
                    widgetConfig, component);
            }

            for (var property in widget.properties) {
                var value = widget.properties[property];
                editor[property] = value;
            }

            wrapper.addEventListener("delete", function() {
                var index = Array.prototype.slice.call(self.$.editors.children).indexOf(wrapper);
                self.$.editors.removeChild(wrapper);
                self.$.preview.removeChild(componentWrapper);
                self.splice("widgets", index, 1);
            });

            wrapper.addEventListener("moveUp", function() {
                var index = Array.prototype.slice.call(self.$.editors.children).indexOf(wrapper);
                if (index !== 0) {
                    wrapper.parentNode.insertBefore(wrapper, wrapper.previousSibling);
                    componentWrapper.parentNode.insertBefore(componentWrapper, componentWrapper.previousSibling);
                    var temp = self.widgets[index];
                    self.widgets[index] = self.widgets[index - 1];
                    self.widgets[index - 1] = temp;
                    self.widgets = self.widgets.slice();
                }
            });

            wrapper.addEventListener("moveDown", function() {
                var domNodes = Array.prototype.slice.call(self.$.editors.children);
                var index = domNodes.indexOf(wrapper);
                if (wrapper.nextSibling !== null) {
                    wrapper.parentNode.insertBefore(wrapper, wrapper.nextSibling.nextSibling);
                    componentWrapper.parentNode.insertBefore(componentWrapper, componentWrapper.nextSibling.nextSibling);

                    var temp = self.widgets[index];
                    self.widgets[index] = self.widgets[index + 1];
                    self.widgets[index + 1] = temp;
                    self.widgets = self.widgets.slice();
                }
            });
        }
    },
    _setupPropertyListener: function(i, editor, widget, wrapper, widgetConfig, 
                                     component) {
        var self = this;
        var property = widgetConfig.properties[i];
        window.editors = window.editors || [];
        window.editors.push(editor);
        editor.addEventListener(property + "-changed", function(ev) {
            component.set(property, editor[property]);
            widget.properties[property] = editor[property];

            console.log("Changing " + property + " with new value ", editor[property]);

            var index = Array.prototype.slice.call(self.$.editors.children).indexOf(wrapper);

            self.push("widgets", {});
            self.splice("widgets", self.widgets.length - 1, 1)
        });
    },
    _registerWidgetType: function(name, component, editor, properties) {
        this._configuration[name] = {
            name: name,
            component: component,
            editor: editor,
            properties: properties
        };
        var item = document.createElement("paper-item");
        item.textContent = name;
        this.$.widgetDropdown.appendChild(item);
    },
    _addWidget: function() {
        this.addWidget({
            "type": this.$.widgetDropdown.selectedItem.textContent,
            "properties": { }
        });
    },
    _computeView: function(jsonMode) {
        return jsonMode ? 1 : 0;
    },
    _computeJSON: function(widgetsSplices) {
        return JSON.stringify(this.widgets);
    },
    _sync: function() {
        var value = JSON.parse(this.$.inputJsonField.value);
        this.widgets = [];
        this.$.editors.innerHTML = "";
        this.$.preview.innerHTML = "";
        for (var i = 0; i < value.length; i++) {
            this.addWidget(value[i]);
        }
    }
});
</script>
</dom-module>
