<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="tve-renderer.html">
<link rel="import" href="tve-status-indicator.html">

<dom-module id="tv-exercise-multiple-choice">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: block;
}

li {
    list-style: none;
}

.items {
    @apply(--layout-vertical);
}

paper-checkbox {
    margin: 10px;
}
</style>

<tve-status-indicator status="[[status]]"></tve-status-indicator>

<template is="dom-if" if="[[selectmultiple]]">
    <div class="items">
        <template is="dom-repeat" items="{{_computeChoices(choices.*, randomizeorder)}}">
            <paper-checkbox data-index$="[[index]]">[[item.title]]</paper-checkbox>
        </template>
    </div>
</template>

<template is="dom-if" if="[[!selectmultiple]]">
    <paper-radio-group class="items">
        <template is="dom-repeat" items="{{_computeChoices(choices.*, randomizeorder)}}">
            <paper-radio-button data-index$="[[index]]" name="{{index}}">[[item.title]]</paper-radio-button>
        </template>
    </paper-radio-group>
</template>

</template>

<script>
Polymer({
    is: 'tv-exercise-multiple-choice',
    properties: {
        selectmultiple: {
            type: Boolean,
            value: false
        },
        randomizeorder: {
            type: Boolean,
            value: false
        },
        choices: {
            type: Array,
            value: []
        },
        status: {
            type: String,
            value: ""
        }
    },
    _computeChoices: function(choices, randomizeOrder) {
        if (randomizeOrder) {
            return this._shuffle(this.choices);
        } else {
            return this.choices;
        }
    },
    _shuffle: function(originalArray) {
        var array = originalArray.slice();
        var counter = array.length;

        // While there are elements in the array
        while (counter > 0) {
            // Pick a random index
            var index = Math.floor(Math.random() * counter);

            // Decrease counter by 1
            counter--;

            // And swap the last element with it
            var temp = array[counter];
            array[counter] = array[index];
            array[index] = temp;
        }
        return array;
    },
    getSelected: function() {
        var selected = [];

        var items = this.selectmultiple ? 
            Polymer.dom(this.root).querySelectorAll("paper-checkbox") : 
            Polymer.dom(this.root).querySelectorAll("paper-radio-button");

        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            if (item.checked) {
                selected.push(parseInt(item.dataset.index));
            }
        }
        return selected;
    },
    grade: function() {
        var maxPoints = 0;
        var points = 0;
        var incorrect = 0;
        var selected = this.getSelected();

        for (var i = 0; i < this.choices.length; i++) {
            if (this.choices[i].correct) {
                maxPoints++;
            }

            if (selected.indexOf(i) !== -1) {
                if (this.choices[i].correct) {
                    points++;
                } else {
                    incorrect++;
                }
            }
        }

        return { 
            answer: {
                selected: selected,
                correct: points,
                incorrect: incorrect,
                maxPoints: maxPoints
            },
            correct: points === maxPoints && incorrect === 0
        };
    },
    validate: function() {
        return this.getSelected().length > 0
    }
});
</script>
</dom-module>