<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!--<link rel="import" href="mathjax-include.html">-->
<link rel="import" href="math-tex.html">

<dom-module id="tve-inline-equation">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: inline;
}
</style>

<math-tex display="inline" content="{{content}}"></math-tex>

</template>

<script>
Polymer({
    is: 'tve-inline-equation',
    properties: {
        content: {
        	type: String,
        	value: ""
        }
    }
});
</script>
</dom-module>