<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">

<link rel="import" href="../tekvideo-math-field.html">
<link rel="import" href="../kas-import.html">

<dom-module id="tve-input-expression">

<template>
<style include="iron-flex"></style>

<style>
:host {
    display: block;
}
</style>

<marked-element markdown="{{question}}"></marked-element>
<tekvideo-math-field id="mathInput"></tekvideo-math-field>
<button on-click="grade">Grade</button>

</template>

<script>
Polymer({
    is: 'tve-input-expression',
    properties: {
        question: {
            type: String,
            value: ""
        },
        expression: {
            type: String,
            value: ""
        }
    },
    grade: function() {
        var expectedValue = KAS.parse(this.expression);
        var givenAnswer = KAS.parse(this.$.mathInput.value);
        var result = KAS.compare(expectedValue.expr, givenAnswer.expr);
        console.log(result);
        return result.equal;
    }
});
</script>
</dom-module>