/*
*= require vendor/bootstrap
*= require style
*= require vendor/mathquill
*= require custom
*= require cardstack
*/

.s2ui_hidden_button {
    display: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flex-grid, .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 600px) {
    .flex-grid {
        display: block;
    }

    .flex-grid .flex-col, .flex-col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.flex-col {
    padding: 0 20px 0 20px;
    min-width: 300px;
}

.left {
    order: 1;
}

.maincontent {
    order: 2;
    flex-grow: 1;
    max-width: 1500px;
    margin: 0 auto;
}

.right {
    order: 3;
}

.vertical {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

.grow {
    flex-grow: 3;
}