.card {
    position: relative;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid #e8e8e8;
    width: 100%;

    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -kthtml-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.clickable {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.clickable:hover .card {
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -kthtml-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.block-link-container {
    position: relative;
}

.block-link {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* added z-index */
    z-index: 1;

    /* fixes overlap error in IE7/8 */
    background-image: url('../images/empty.gif');
}

.mousePanel {
    display: none;
    position: fixed;
    z-index: 100;
}

.mousePanelTrigger {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px; /* adjust line height to align vertically*/
    padding:0;
    border-radius: 50%;
}

.form-inline > .form-group {
    padding-right: 30px;
}

.form-inline > .form-group > label {
    padding-right: 10px;
    font-weight: bold;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.loading-indicator {
    display: none;
    padding: 10px;
}

#footer {
    border-top: 1px solid #eeeeee;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-top: 25px;
}

.video-row {
    margin-top: 15px;
}

.search-result {
    font-size: 130%;
    font-weight: bold;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.question {
    min-width: 90px; /* old 50 */
    /*height: 25px;*/
    padding-top: 10px; /* TODO Still some issues with math growing out of box */
    background-color: white;
    font-size: 150%;
}

.center {
    text-align: center;
    width: 100%;
}

.fields-active {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    border: 5px solid #9c27b0;
}

.draggableField {
    width: 90px;
    height: 32px;
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.10);
    text-align: center;
    position: absolute;
}

.draggableField.active {
    border: 2px solid #4caf50;
}

.field-header {
    position: absolute;
    top: -25px;
    left: 0;
}

.admin-field-question {
    width: 100%;
    font-size: 100% !important;
}

.admin-timeline-subject h6 {
    text-indent: 1em;
}

.admin-subject-margin-fix {
    margin-top: 11.5px;
}

.card-link {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.align-right {
    text-align: right;
}

body {
    background-color: #F9F9F9;
}

.content {
    display: flex;
    align-items: stretch;
}

.sidebar {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
}

.sidebar-pull-bottom {
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center;
}

#videoNavigation li {
    list-style: none;
    padding-left: 5px;
    border-left: 2px solid #0d87e9;
    margin-left: -25px;
}

#videoNavigation ul > li {
    list-style: none;
    padding-left: 5px;
    margin-left: -50px;
    border-left: 0;
}


#videoNavigation li.active {
    border-left: 2px solid #90CAF9;
}

.navbar-brand > img {
    display: inline-block;
    height: 40px;
    margin-top: -10px;
}

.sidebar-options-no-header {
    padding-top: 5px;
    border-top: 1px solid #eee;
    position: relative;
    top: 105px;
}

.card-image {
    margin: -20px;
    height: 100%;
    overflow: hidden;
    padding: 0 15px 0 0;
}

.card-image img {
    height: 100px;
    max-width: 100%;
}

.stat-card.yellow {
    color: black;
}

.stat-card.yellow .card {
    background-color: #FFEB3B;
}

.stat-card.red {
    color: white;
}

.stat-card.red .card {
    background-color: #F44336;
}

.stat-card.green {
    color: white;
}

.stat-card.green .card {
    background-color: #43A047;
}

.stat-card .name {
    font-size: 25pt;
    margin-right: 15px;
}

.stat-card .stat {
    font-size: 10pt;
}

.popular-video h3 {
    margin: 10px;
}

.timeline-wrapper {
    height: 800px;
    overflow-y: auto;
}

.timeline-inner {
    margin: 20px;
}

/* http://startbootstrap.com/template-overviews/sb-admin-2/ */
.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 46%;
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ccc;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
}

.timeline > li > .timeline-badge {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 1.4em;
    line-height: 50px;
    color: #fff;
    background-color: #999999;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }
}